header {
	background-color: Black;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin: 0px;
}

body {
  background-image: url("Level.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}


.navItem {
	color: lightgrey;
	text-align: center;
	font-size: 2em;
	width: 25%;
	border: 2px solid black;
}

#heading{
	color: darkgrey;
	text-align: center;
	text-shadow: 2px 2px;
	font-size: 4em;
}

#navMenu {
	width: 100%;
	border: 1px solid lightgrey;
	background-color: #383838;
}

#content {
	margin-left: 12.5%;
	margin-right: 12.5%;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

